<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AppliDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PremiereServletConfigurationWebXML</servlet-name>
    <servlet-class>fr.eni.javaee.module2.PremiereServletConfigurationWebXML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PremiereServletConfigurationWebXML</servlet-name>
    <url-pattern>/modules/module2/PremiereServletConfigurationWebXML</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/modules/module2/demonstrations/erreur500.html</location>
  </error-page>
  <servlet>
    <servlet-name>ServletAvecParametreInitialisationWebXML</servlet-name>
    <servlet-class>fr.eni.javaee.module2.ServletAvecParametreInitialisationWebXML</servlet-class>
    <init-param>
      <description>Un paramètre d'initialisation</description>
      <param-name>NOM_PARAMETRE</param-name>
      <param-value>VALEUR_PARAMETRE</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAvecParametreInitialisationWebXML</servlet-name>
    <url-pattern>/modules/module2/ServletAvecParametreInitialisationWebXML</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>premiereJSPDansWEB_INF</servlet-name>
    <jsp-file>/WEB-INF/modules/module3/demonstrations/premiereJSPDansWEB-INF.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>premiereJSPDansWEB_INF</servlet-name>
    <url-pattern>/modules/module3/demonstrations/secondePremiereJSP</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Un paramètre d'application</description>
    <param-name>EMAIL_ADMINISTRATEUR</param-name>
    <param-value>administrateur@monapplication.fr</param-value>
  </context-param>
  <error-page>
    <error-code>403</error-code>
    <location>/modules/module7/demonstrations/erreur403.html</location>
  </error-page>
  
  <servlet>
  	<servlet-name>JSPInternationalisationMessages</servlet-name>
  	<jsp-file>/WEB-INF/modules/module8/internationalisationMessages.jsp</jsp-file>
  </servlet> 
  <servlet-mapping>
  	<servlet-name>JSPInternationalisationMessages</servlet-name>
  	<url-pattern>/modules/module8/internationalisationMessages</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>JSPformatageDates</servlet-name>
  	<jsp-file>/WEB-INF/modules/module8/formatageDates.jsp</jsp-file>
  </servlet> 
  <servlet-mapping>
  	<servlet-name>JSPformatageDates</servlet-name>
  	<url-pattern>/modules/module8/formatageDates</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>JSPformatageNombres</servlet-name>
  	<jsp-file>/WEB-INF/modules/module8/formatageNombres.jsp</jsp-file>
  </servlet> 
  <servlet-mapping>
  	<servlet-name>JSPformatageNombres</servlet-name>
  	<url-pattern>/modules/module8/formatageNombres</url-pattern>
  </servlet-mapping>
  
</web-app>



